
.card {
  background-color: var(--cor-fundo-card) !important;
  box-shadow: 2px 4px 4px 2px #00000040;
  border-radius: 20px !important;
  margin: 1em;
  padding: 1.5em 1em;
  display: flex;
}

.descricao{
  margin-right: 1em;
  background-color: var(--cor-fundo-card);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card__descricao {
  background-color: var(--cor-fundo-card);
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
}

.descricao__img {
  width: 25%;
  height: 25%;
  margin: 3em 1em;
  border-radius: 20px;
}

.descricao__titulo {
  color: var(--cor-titulo);
  background-color: var(--cor-fundo-card);
  font-weight: 700;
  margin-bottom: 1em;
  font-size: 1.2rem;
}

.card__review {
  background-color: var(--cor-fundo-card);
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 1em;
  margin: 1em auto;
  display: flex;
  align-items: center;
}

.descricao__subtitulo{
  color: var(--cor-subtitulo);
  font-size: 0.9rem;
  font-weight: 700;
  margin: .5em 0;
}

.descricao__texto {
  font-size: 0.8rem;
  align-items: center;
}

.review {
  display: flex;
  flex-direction: column;
}

.card__review {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.review__titulo {
  color: var(--cor-titulo);
  font-weight: 700;
  font-size: 1.5rem;
}

.review__subtitulo{
  color: var(--cor-subtitulo);
  font-size: 1.2rem;
  font-weight: 700;
  margin: .5em 0;
}

.review__texto {
  font-size: 0.8rem;
  text-align: center;
}



.card__classificacao {
  margin: 0 .5em 1em .5em;
  width: 70%;
}


@media screen and (min-width:1024px) {
  .card {
    width: 100%;
    margin: 2em auto;
  }

  .card__classificacao {
    margin-bottom: 1em;
    width: 40%;
  }



  .card__review {
    margin: 1em 3em;
  }

  .review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .descricao__img {
    width: 30%;
  } 

  .descricao__titulo {
    font-size: 3.0rem;
  }

  .descricao__subtitulo {
    font-size: 2.0rem;
  }

  .descricao__texto {
    font-size: 1.0rem;
  }
}

@media screen and (min-width:1728px) {
  .card {
    width: 100%;
    margin: 2em auto;
  }


}