.cabecalho {
  background-color: var(--cor-cabecalho);
  display: flex;
  justify-content: right;
}

.cabecalho__container {
  display: flex;
}

.cabecalho__direita {
  display: flex;
}

.logo__img {
  margin: 1em auto;
  width: 60%;
}

.container__link {
  margin: 0;
  padding: 0;
}

.container__img {
  margin: 1em 1em;
  padding: 0 0.1em;
  width: 80%;
  cursor: pointer;
}


.nav-link {
  color: var(--cor-titulo);
}

.navbar-collapse {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .cabecalho {
    justify-content: space-between;
  }
  .cabecalho__menu {
    display: block;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .logo__img {
    margin: 1em 1em;
    width: 80%;
  }

  .cabecalho__container {
    display: flex;
    align-items: center;
  }

  .container__img {
    padding: 0 0.1em;
    width: 50%;
  }

}

@media screen and (min-width:1728px) {
  .container__link {
    display: flex;
    align-items: center;
    color: var(--cor-subtitulo)
  }

  .opcoes {
    margin: 0 0 0 7em ;
  }

  .container__texto {
    display: block;
  }
}