.cabecalho {
  background-color: var(--cor-cabecalho);
  display: flex;
  justify-content: space-between;
}

.cabecalho__container {
  display: flex;
  justify-content: flex-end;
}

.cabecalho__icones {
  display: flex;
}

.logo__img {
  width: 50%;
}

.container__link {
  margin: 0;
  padding: 0;
}

.container__img {
  padding: 0 0.1em;
  width: 50%;
}

.nav-link {
  color: var(--cor-titulo);
}

.navbar-collapse {
  text-align: right;
}

@media screen and (min-width: 1024px) {

  .cabecalho__menu {
    display: block;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

}

@media screen and (min-width:1728px) {
  .container__link {
    display: flex;
    align-items: center;
    color: var(--cor-subtitulo)
  }

  .cabecalho {
    padding: 0 3em;
  }

  .opcoes {
    margin: 0 0 0 7em ;
  }

  .container__texto {
    display: block;
  }
}