.categoria__img {
    width: 80%;
    border-radius: 40px;
    box-shadow: 0px 2px 7px var(--cor-titulo);
    margin: 1em 0;
}

.swiper {
    width: 80%;
    height: 100%;
}

.swiper-pagination-bullet-active {
    background: var(--cor-subtitulo) !important;
}

.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 1em;
    background-color: var(--cor-de-fundo);
}

.produtos__titulo__secao {
    display: flex;
    justify-content: center;
    background-color: var(--cor-de-fundo);
    margin: 1em auto;
    color: var(--cor-titulo);
}

.produtos__titulo {
    color: var(--cor-titulo-produto);
    justify-content: center;
}

.produtos__descricao {
    color: var(--cor-subtitulo);
}

.produtos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
    padding: 1em;
    cursor: pointer;
    box-shadow: 0px 2px 7px var(--cor-titulo);
    border-radius: 1em;
    background-color: var(cor-fundo-itens);
}

.produtos__img {
    width: 50%;
    display: flex;
    justify-self: center;
}

.produtos__preco {
    margin-top: 1em;
    color: var(--cor-subtitulo);
}

@media screen and (min-width:1024px) {
    .swiper {
        padding: 2em;
        width: 100%;
        height: 100%;
        max-width: 1080px;
    }
    .categoria__img {
        width: 60%;
    }
}